.container {
    display: flex;
    justify-content: space-around;
    padding: 15px 100px;
    margin-bottom: 20px;
    margin-top: 0px;
    background-color: rgba(4, 13, 27, 0.523);
    font-size: 35px;
}

label {
    color: white;
    padding-left: 35px;
}

select{
    border-radius: 5px;
    font-size: 20px;
    opacity: 0.6;
    cursor: pointer;
}

select:hover{
    opacity: 1
}
/* option {
    border-radius: 5px;
} */